<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link rel="stylesheet" href="forgetpage.css" type="text/css">
</head>
<body>
    <p id="tip">Enter Email whose password you wanna change</p>
    <form action="/sendlink" method="post">
        <label for="email">Enter Email</label>
        <br>
        <input type="email" id="email" name="email"/>
        <br>
        <input type="submit" value="submit"/>
    </form>
    <p><strong>We shall send An email to this email id containing link to reset password</strong></p>
</body>
</html>