<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <p>Login</p>
    </header>
    <main>
        <form action>
         
        </form>
    </main>
    <footer>
        <p>Your details are safe with us and will not be shared by us</p>
    </footer>
</body>
</html>