<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Password</title>
</head>
<body>
    <form action="/changepass" method="post">
        <label for="email">Enter Email</label>
        <input type="email" id="email" name="email" required/>
    <label for="pass">Enter new password</label>
    <input type="password" id="pass" name="newpassword" required/>
    <input type="submit" value="change password"/>
    </form>
</body>
</html>