<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <header>
        <p>Welcome</p>
    </header>
    <main>
        <p>Signup or Login to continue...</p>
        <a href="/loginpage"><span><p>Login</p></span></a>
        <a href="/registerpage"><span><p>Register</p></span></a>
    </main>
</body>
</html>