<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/welcome.css" type="text/css">
</head>
<body>
    <header>
        <p>Welcome</p>
    </header>
    <main>
        <p>Signup or Login to continue...</p>
        <a href="/loginpage"><span><p>Login</p></span></a>
        <a href="/registerpage"><span><p>Register</p></span></a>
        <p>Introducing Admin Panel with smooth UI and fully secured website</p>
        <ul>
            <li>Your data is secured with us</li>
            <li>Made with popular backend technologies and packages</li>
        </ul>
    </main>
    <p class="us">About Us</p>
    <footer>
        <p>Made in India</p>
        <p><b>Paras Prajapat</b></p>
    </footer>
</body>
</html>